<%= stylesheet_link_tag 'shopping-list/index', media: 'all' %>
<div class="shopping__info">
  <h2 class="shopping__title">Shopping List</h2>
  <div class="shopping__price">
    <p>Amount of food items to buy: 3</p>
    <p>Total Value of food needed: $819</p>
  </div>
</div>
<div class="shopping__detail">
  <table>
    <thead>
      <tr>
        <td>Food</td>
        <td>Quantity</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apple</td>
        <td>20g</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>
</div>