.recipe__add {
  padding: 1.6rem;
  font-size: 1.6rem;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 1rem;
  margin-top: 1rem;
  -webkit-box-shadow: 5px 6px 14px 1px rgba(0,0,0,0.58); 
box-shadow: 5px 6px 14px 1px rgba(0,0,0,0.58);
}

.recipe__title {
  text-align: center;
  margin-bottom: 2rem;
}

.recipe__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.recipe__form {
  display: flex;
}

.recipe__form label {
  flex: 1
}
.recipe__form input,
.recipe__form textarea {
  width: 100%;
  flex: 2;
}
