<%= stylesheet_link_tag 'recipes/index', media: 'all' %>
<div class="recipe__container">
  <div class="recipe">
    <div class="recipe__title">
      <h2>Recipe 1</h2>
      <a href="#">Remove</a>
    </div>
    <p class="recipe__description">description of the first recipe</p>
    <a href="#" class="recipe__info">
       <%= image_tag "info_icon.png", height: 50 %>
    </a>
  </div>
</div>