.recipe__container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.recipe__add {
  display: flex;
  justify-content: end;
  padding-right: 3rem;
}

.recipe__add a {
  border: 1px solid #000;
  padding: 1rem;
  font-size: 1.2rem;
}

.recipe {
  position: relative;
  width: 80%;
  max-width: 1000px;
  max-height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  font-size: 1.6rem;
  padding: 1.6rem;
  border: 1px solid #000;
}

.recipe__title a {
  text-decoration: underline;
  color: #214bf4;
}

.recipe__description {
  margin-right: 3rem;
  width: 50%;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.recipe__info {
  position: absolute;
  top: 0;
  right: 0;
}
