.recipe__info,
.recipe__detail {
  padding: 1.6rem;
  font-size: 1.6rem;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.recipe__title {
  text-align: center;
}

.recipe__vision {
  display: flex;
  justify-content: space-between;
}

.recipe__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.recipe__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0a9270;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0a9270;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.recipe__action {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 3px solid #000;
  margin-top: 1rem;
}

.recipe__button {
  border: 1px solid #000;
  padding: 1rem;
  font-size: 1.2rem;
}

.recipe__detail td {
  border: 1px solid #000;
  text-align: center;
}

.recipe__detail thead {
  background-color: #0a9270;
  color: #fff;
}

.recipe__detail tbody {
  font-size: 1.4rem;
}

.recipe__detail tbody td {
  padding: 0.5rem 0;
}

.recipe__detail tbody tr:nth-child(2n + 1) {
  background-color: rgb(232, 231, 231);
}

.recipe__remove {
  text-decoration: underline;
  color: rgb(13, 85, 161);
}
